<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Keller Williams Careers{% endblock %}</title>
    <meta name="author" content="Keller Williams Realty">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">

        {{ include ('layout/header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include ('layout/footer.html.twig') }}

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    </body>
</html>
