{% extends '::base.html.twig' %}
{% block stylesheets %}

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
    {#<link rel="stylesheet" type="text/css" href="{{ asset('bundles/kellerwilliamscareers/css/hovers.css') }}" media="screen" />#}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kellerwilliamscareers/css/news.css') }}" media="screen" />

{% endblock %}
{% block body %}

    <section id="content-wrapper">

        <!-- .container_12 start -->
        <div class="container_12">

            <div class="grid">
                <figure class="effect-lily">
                    <img src="http://tympanus.net/Development/HoverEffectIdeas/img/12.jpg" alt="img12">
                    <figcaption>
                        <div>
                            <h2>Nice <span>Lily</span></h2>
                            <p>Tag line goes here</p>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>

                <figure class="effect-lily">
                    <img src="http://tympanus.net/Development/HoverEffectIdeas/img/1.jpg" alt="img1">
                    <figcaption>
                        <div>
                            <h2>Nice <span>Lily</span></h2>
                            <p>Tag line goes here</p>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>

                <figure class="effect-milo">
                    <img src="http://tympanus.net/Development/HoverEffectIdeas/img/11.jpg" alt="img11">
                    <figcaption>
                        <h2>Faithful <span>Milo</span></h2>
                        <p>Another Tag Line.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>

                <figure class="effect-milo">
                    <img src="http://tympanus.net/Development/HoverEffectIdeas/img/3.jpg" alt="img03">
                    <figcaption>
                        <h2>Faithful <span>Milo</span></h2>
                        <p>More Tag Line.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>

            <div class="grid">
                <figure class="effect-lily">
                    <img src="http://tympanus.net/Development/HoverEffectIdeas/img/12.jpg" alt="img12">
                    <figcaption>
                        <div>
                            <h2>Nice <span>Lily</span></h2>
                            <p>Click me because I am cool</p>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>

                <figure class="effect-lily">
                    <img src="http://tympanus.net/Development/HoverEffectIdeas/img/1.jpg" alt="img1">
                    <figcaption>
                        <div>
                            <h2>Nice <span>Lily</span></h2>
                            <p>Yeah buddy...</p>
                        </div>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>

        </div>

    </section>

{% endblock %}
{% block javascripts %}
{% endblock %}